.git
.gitignore
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker/db/*
docker/cache/*
public/storage
.env
.env.*
npm-debug.log*
yarn.lock
pnpm-lock.yaml
